# SIC Python Task 2
**Name:** Ahmed Saed    
  
<br>

### 1. Considering the following list:

In [1]:
fruits = ["apple", "banana", "cherry"]

1. Print the second item in the fruits list.

In [2]:
fruits[1]

'banana'

2. Change the value from "apple" to "kiwi", in the fruits list.

In [3]:
fruits[0] = 'Kiwi' # I love Kiwi

3. Use the insert method to add "lemon" as the second item in the fruits list.

In [5]:
fruits.insert(1, 'Lemon')
fruits

['Kiwi', 'Lemon', 'Lemon', 'banana', 'cherry']

4. Use negative indexing to print the last item in the list.

In [6]:
fruits[-1]

'cherry'

### 2. Use a range of indexes to print the third, fourth, and fifth item in the following list:

In [7]:
fruits = ["apple", "banana", "cherry", "orange", "kiwi", "melon", "mango"]

In [8]:
fruits[2:5]

['cherry', 'orange', 'kiwi']

### 3. Reverse a given list in Python:

In [9]:
nums = [100, 200, 300, 400, 500]

In [12]:
nums.reverse()
nums

[500, 400, 300, 200, 100]

### 4. Add item 7000 after 6000 in the following Python List:

In [13]:
nums = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]

In [14]:
nums[2][2].append(7000)
nums

[10, 20, [300, 400, [5000, 6000, 7000], 500], 30, 40]

### 5. Giving the following dictionary:

In [16]:
emps_salaries = {'Ahmed': 5000 , 'Samar': 6500, 'Hayam': 5000, 'Nagwa': 4500}

a. How to check if an employee exists in the dictionary?

In [17]:
print("omar" in emps_salaries)
print("Ahmed" in emps_salaries.keys())

False
True

b. How to check if any of the employee's salary is 6000?

In [18]:
print(6000 in emps_salaries.values())

False

c. Iterate over the emps_salaries using for loop and print each employee name and
salary

In [19]:
for emp in emps_salaries:
    print(f"{emp}'s salary is {emps_salaries[emp]}")

Ahmed's salary is 5000
Samar's salary is 6500
Hayam's salary is 5000
Nagwa's salary is 4500

## Bonus ðŸ¥³ðŸŽ‰

#### 6. Given a nested list extend it by adding the sub list `["h", "i", "j"]` in such a way that it will look like the following list: 
#### `['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']`

In [24]:
nums = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]

Sub List to be added = `["h", "i", "j"]`

In [25]:
nums[2][1][2].extend(["h", "i", "j"])
nums

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']